.User {
  margin-right: 20px;
  cursor: pointer;
  padding: 3px 7px;
  background-color: white;
  border: 2px inset black;
  border-radius: 10px;

  &.Open {
    .MenuContainer {
      display: flex;
      flex-direction: column;
    }
  }

  .MenuContainer {
    gap: 10px;
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    padding: 20px 10px;
    width: fit-content;
    background: rgba(144, 238, 144, 0.948);
  }
}
